@import url('https://fonts.cdnfonts.com/css/helvetica-2');
*{
    padding: 0;
    margin: 0;
    font-family: 'Helvetica';
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom, #271733, #1f0f2b);
}
body::-webkit-scrollbar{
    width: 3px;
}
body::-webkit-scrollbar-thumb{
    background-color: #1f0f2b;
        border-radius: 20px;
}
body::-webkit-scrollbar-track{
    background: linear-gradient(to bottom, #271733, #1f0f2b);
}




a, svg{
    transition: .4s
}